@charset "UTF-8";
@import url(../bootstrap/css/bootstrap-utilities.css);
/* declaración de map-get*/
/* declaración mixins */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

html {
  height: 100%; }

header {
  object-fit: cover; }

.opcionesNUEVAS {
  background-color: #c0c0c0;
  display: grid;
  grid-row: 1;
  grid-column: 1/11;
  height: 7vh;
  justify-items: center;
  justify-content: space-between;
  height: 8vh; }
  .opcionesNUEVAS img {
    display: grid;
    grid-column: 1;
    width: 7vh;
    margin: 0 10%; }
  .opcionesNUEVAS .nav {
    grid-column: 13;
    align-content: center;
    align-items: center;
    font-size: 1.5vw; }
    .opcionesNUEVAS .nav .nav-link {
      color: #2f71d3; }
      .opcionesNUEVAS .nav .nav-link:hover {
        font-style: italic;
        font-weight: bolder;
        color: #2f71d3; }

.logoYnombre {
  display: flex;
  color: #2f71d3;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center; }
  .logoYnombre a {
    display: flex;
    align-content: center;
    align-items: center;
    text-decoration: none; }
    .logoYnombre a label {
      cursor: pointer; }

.nav-item a {
  text-decoration: none; }
  .nav-item a i {
    color: #2f71d3;
    font-size: 1.5vw; }
    .nav-item a i:active {
      color: #ffff00; }

#carouselExampleCaptions {
  display: grid;
  grid-row: 2; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  height: 30vh;
  width: 100vw;
  grid-column: 1/11;
  margin: 0; }

.tarjeta-presentacion {
  grid-row: 3;
  grid-column: 1/11; }
  .tarjeta-presentacion img {
    width: 25vw; }
  .tarjeta-presentacion .card-body {
    grid-column: 3/8;
    font-size: 2vw; }

.presentacionDROPIT {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .presentacionDROPIT .presentacionDROPIT__texto {
    grid-column: 3/9;
    font-size: 1.5vw;
    text-align: center; }
    .presentacionDROPIT .presentacionDROPIT__texto h1 {
      font-size: 10vw; }
    .presentacionDROPIT .presentacionDROPIT__texto span {
      font-weight: bold; }
    .presentacionDROPIT .presentacionDROPIT__texto img {
      width: 20%; }

.form-check {
  display: flex;
  flex-direction: row; }
  .form-check .form-check-label {
    font-size: 1.5vw; }

.regresoIndex {
  display: flex;
  justify-content: center; }
  .regresoIndex a i {
    justify-content: center;
    color: #2f71d3; }
    .regresoIndex a i:hover {
      color: #c0c0c0; }

.btn a {
  color: white; }
  .btn a:hover {
    color: white; }

.form-check-label {
  color: #2f71d3; }

fieldset {
  display: flex;
  width: 90%;
  text-align: start;
  padding: 2%;
  border: none;
  flex-direction: column;
  margin: 3vw 0; }

form fieldset input {
  margin-bottom: 1vw; }

div .form-select {
  width: 36vw; }

.mb-3 textarea {
  width: 36vw; }

.mb-3 .form-control {
  width: 80%; }

.mb-3 .form-select {
  width: 80%; }

.col-sm-10 .form-control {
  width: 80%;
  margin-left: 4vw; }

#fs-frm-inputs {
  margin-left: 1vw; }
  #fs-frm-inputs input {
    width: 50%; }
  #fs-frm-inputs :placeholder-shown {
    text-align: center;
    justify-content: center; }
  #fs-frm-inputs select {
    width: 50%;
    margin-bottom: 1vw;
    text-align: center; }

textarea #note {
  justify-content: center; }

/* uso mixin */
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  font-size: 2vw; }

.Carousel {
  display: grid;
  grid-column: 1/10;
  grid-row: 1;
  overflow: hidden;
  height: 25vw; }

nav {
  display: flex;
  margin: 1%;
  cursor: pointer;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end; }

a i {
  font-size: 2.5vw;
  color: white; }

nav ul {
  grid-column: 10;
  grid-row: 2/3; }

.menuDesplegable__iconos i:hover {
  color: #ffff00; }

.iconos {
  display: flex;
  cursor: pointer;
  margin: 2vw 0 0 0;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding: 0; }

.iconos li {
  padding: 0vw 3vw; }

/* redes sociales */
/* map-get */
.redes-sociales {
  grid-row: 9/10;
  grid-column: 10; }
  .redes-sociales .redes-iconos i {
    margin: 4% 0 4% 0;
    color: #4977bd;
    font-size: 2vw;
    text-align: right; }
    .redes-sociales .redes-iconos i:hover {
      color: #ffff00; }

.info strong {
  color: white; }

.info a :hover {
  color: #f1bb57; }

.anuncio {
  width: 10vw;
  margin: 0; }

.quienesSomos, .mediosDePago {
  text-align: center; }

.quienesSomos__preguntas {
  display: block;
  width: 45%;
  margin: auto;
  flex-direction: column;
  font-size: 3.5rem; }

.copyright {
  width: 45vw;
  color: #2f71d3;
  display: flex;
  justify-content: center; }

p {
  margin: 1% 10%;
  text-align: center; }

.mediosDePago {
  text-align: center; }

.tarjeta {
  font-size: 5vw;
  text-decoration: none;
  cursor: auto;
  margin: 3vh -15vw 0vw;
  color: #c0c0c0; }

.formulario-registro {
  display: flex;
  justify-content: center;
  margin-left: 6%;
  flex-direction: column;
  font-size: 180%;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start; }

.formulario-registro p {
  display: inline;
  justify-content: left; }

.formulario-registro__mail input {
  width: 20vw; }

fieldset {
  width: 90%;
  text-align: start;
  padding: 2%;
  border: none; }

.formulario-registro__foto {
  display: flex;
  flex-direction: column; }

.formulario-registro__foto label {
  font-size: 3vw;
  margin-bottom: 0.8vw; }

label {
  font-size: 2.2vw; }

.formulario-registro__foto i {
  font-size: 2vw;
  padding-right: 0.3vw; }

.formulario-registro__foto i input {
  font-size: 1.5vw;
  margin-left: 0.8vw; }

.formulario-registro__nombreApellido {
  display: inline-block; }

.formulario-registro__cantidadLocales input {
  width: 4vw;
  text-align: center; }

.formulario-registro__nombreApellido input {
  width: 20vw; }

.formulario-registro__telefono select {
  width: 8vw;
  font-size: 1.5vw;
  text-align: center; }

.formulario-registro__sexo select {
  font-size: 1.5vw;
  text-align: center; }

.cantidadLocales {
  width: 8vw; }

/* uso mixin */
.formulario-registro__edad {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.formulario-registro__botonMayor .formulario-registro__botonMenor {
  margin-top: 1%;
  display: flex;
  flex-direction: row; }

.formulario-registro__botonos {
  display: inline;
  width: 1.5vw; }

/* uso extend */
.usoExtend, .regresoHome input, .formulario-registro__botonos input {
  margin-right: 3%;
  font-size: 1.5vw; }

/* GRID para HTML index */
.main, .cuerpoPruebaHome {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: #f1eded; }

.texto {
  font-size: 1.8vw;
  text-align: left; }

.mapa {
  grid-column: 3/9;
  grid-row: 5;
  display: flex;
  justify-content: center; }

.opciones {
  grid-column: 3/9;
  grid-row: 4; }

.chat {
  grid-column: 10;
  grid-row: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  z-index: 1000;
  margin: 1vw;
  height: -1vh; }

.chat .anuncio {
  display: flex;
  justify-content: flex-start; }

.chat i {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  background-color: #9fec2a;
  border-radius: 1.8vw;
  margin-top: 3vh; }

.chat strong {
  font-size: 1vw; }

.botonRegreso {
  grid-column: 4/8;
  grid-row: 8; }

/* GRID para HTML de preguntas */
.subtituloGrid {
  color: #f1bb57; }

.main h2, .cuerpoPruebaHome h2 {
  font-size: 3.2vw;
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  text-align: center; }

.titulos {
  grid-column: 4/8;
  grid-row: 2;
  font-size: 10.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.quienesSomosGrid__queEs {
  grid-column: 3/9;
  grid-row: 3; }

.quienesSomosGrid__quien {
  grid-column: 3/9;
  grid-row: 4; }

.quienesSomosGrid__quePasa {
  grid-column: 3/9;
  grid-row: 5; }

.quienesSomosGrid__pedido {
  grid-column: 3/9;
  grid-row: 6; }

.botonRegreso {
  grid-column: 5/7;
  grid-row: 8; }

.placeholder {
  text-align: center;
  width: 20vw; }

.footer {
  grid-row: 10;
  grid-column: 1/11;
  font-size: 1.5vw;
  margin: 2vw auto; }

/* GRID para HTML de registro */
.formRegistro {
  grid-column: 1/10;
  grid-row: 3;
  font-size: 1.2vw; }

/* GRID para HTML de nosotros */
.quienesSomos, .mediosDePago {
  grid-column: 3/9;
  grid-row: 3; }

/* GRID para HTML de medios de pago */
.tiendaDigital {
  grid-column: 3/9;
  grid-row: 5;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

/* RESPONSIVE */
@media screen and (min-width: 1001px) {
  .form-check-label {
    font-size: 1.5vw; }
  .presentacionDROPIT {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .presentacionDROPIT .presentacionDROPIT__texto {
      grid-column: 3/9;
      font-size: 1.5vw;
      text-align: center; }
      .presentacionDROPIT .presentacionDROPIT__texto h1 {
        font-size: 10vw; }
        .presentacionDROPIT .presentacionDROPIT__texto h1 img {
          width: 20%;
          font-size: 10vw; }
      .presentacionDROPIT .presentacionDROPIT__texto span {
        font-weight: bold; }
  .imagen1 label {
    display: none; }
  .imagen2 label {
    display: none; } }

@media screen and (max-width: 1000px) {
  .carousel-inner {
    height: 15vh; } }

@media screen and (max-width: 890px) {
  .mb-3 .form-label {
    font-size: 5.5vw; }
  .opcionesNUEVAS .nav {
    font-size: 2.5vw; }
  .nav-item a i {
    font-size: 2.5vw; }
  .validationTextarea {
    font-size: 4vw; }
  .form-check .form-check-label {
    font-size: 3vw; }
  .diaHora label input {
    margin-right: -3vw; }
  .carousel-inner {
    height: 16vh; }
  .opcionesNUEVAS img {
    width: 8vw; }
  .col-sm-10 .form-control {
    margin: auto; }
  .regresoIndex a i {
    font-size: 6vw; }
  .presentacionDROPIT {
    display: grid; }
  .tarjeta-presentacion img {
    width: 55vw; }
  .presentacionDROPIT .presentacionDROPIT__texto {
    grid-row: 5;
    grid-column: 1/10;
    font-size: 3vw;
    margin: 2vw 0; }
  .tarjeta-presentacion .imagen1 {
    grid-row: 6;
    grid-column: 1/11;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .tarjeta-presentacion .imagen1 label {
      margin: auto;
      font-size: 5vw; }
  .tarjeta-presentacion .imagen2 {
    grid-row: 7;
    grid-column: 1/11;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .tarjeta-presentacion .imagen2 label {
      margin: auto;
      font-size: 5vw; } }

@media screen and (max-width: 890px) and (max-width: 531px) {
  .formRegistro {
    margin-left: 4vw; }
  .formulario-registro__telefono {
    display: flex;
    flex-direction: column; }
  .formulario-registro__mail {
    display: flex;
    flex-direction: column; }
  label {
    font-size: 3vw; }
  .subtitulo {
    width: 50vw; }
  #opciones input {
    width: 20vw;
    font-size: 2vw; }
  #opciones form select {
    display: flex;
    height: 2.5vh;
    width: 20vw; }
  .titulos {
    grid-row: 1; }
  .mediosDePago {
    grid-row: 2; }
  .tiendaDigital {
    grid-row: 4; }
  .menuHamburguesa i {
    font-size: 6vw; }
  .menuDesplegable__iconos {
    font-size: 2vw; }
    .menuDesplegable__iconos i {
      font-size: 2vw; }
  .opcionesNUEVAS {
    height: 5vh;
    margin-bottom: 20vw;
    grid-row: 1; }
  .opcionesNUEVAS img {
    width: 6vw; }
  #carouselExampleCaptions {
    width: 10vw;
    margin-top: -20vw;
    grid-row: 2; }
  .carousel-inner {
    height: 11vh; }
  .opcionesNUEVAS img {
    width: 10vw;
    margin-top: 0vw; }
  .nav-item a i {
    font-size: 3.5vw; }
  .tarjeta-presentacion {
    margin-top: 5vw; }
  .form-check .form-check-label {
    font-size: 3vw; }
  .nav-item {
    margin: -1.5vw; }
  .texto {
    font-size: 2.2vw; } }

@media screen and (max-width: 890px) {
  #fs-frm-inputs input {
    width: 80%; }
  #fs-frm-inputs label {
    font-size: 4vw; }
  #fs-frm-inputs select {
    width: 80%; } }
