@charset "UTF-8";
@import url(../bootstrap/css/bootstrap-utilities.css);
/* declaración de map-get*/
/* declaración mixins */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

html {
  height: 100%; }

header {
  object-fit: cover; }

.banner img {
  width: 100%;
  height: 40vh; }

/* uso mixin */
body {
  background-color: rgba(255, 255, 255, 0.911);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  font-size: 2vw; }

.Carousel {
  display: grid;
  grid-column: 1/10;
  grid-row: 1;
  overflow: hidden;
  height: 25vw; }

nav {
  display: flex;
  justify-content: right;
  margin: 1%;
  cursor: pointer; }

a i {
  font-size: 2.5vw;
  color: black; }

.titulos {
  display: grid; }

.titulo {
  padding: 2% 1% 1% 1%;
  color: #2f71d3;
  font-size: 10.5vw;
  grid-column: 4/9; }

.subtitulo {
  color: #f1bb57;
  margin-bottom: 5%;
  font-size: 3vw;
  grid-column: 3/9;
  width: 45vw; }

.menuHamburguesa {
  grid-column: 10;
  grid-row: 1; }

.menuHamburguesa i {
  font-size: 3vw; }

.menuHamburguesa li {
  display: none; }

.menuHamburguesa:hover li {
  display: flex;
  margin-top: 1vw;
  text-align: right;
  z-index: 1000; }

/* uso mixin */
nav ul {
  display: flex;
  flex-direction: column;
  grid-column: 10;
  grid-row: 2/3; }

.menuDesplegable__iconos {
  font-size: 1vw;
  margin-right: 0.3vw; }

.menuDesplegable__iconos i {
  font-size: 1.5vw;
  margin-right: 0.2vw; }

.menuDesplegable__iconos i:hover {
  color: #f1bb57; }

/* uso mixin */
.mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto; }

#googleMap img {
  width: 50vw;
  cursor: zoom-in; }

#opciones {
  display: flex;
  z-index: 1000; }

#opciones select {
  width: 10vw;
  font-size: 1vw;
  margin: 0% 1%;
  cursor: pointer; }

#opciones input {
  width: 10vw;
  font-size: 1vw;
  cursor: pointer;
  margin: auto; }

.iconos {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  margin: 2vw 0 0 0; }

.iconos li {
  padding: 0vw 3vw; }

.info {
  text-align: center; }
  .info a {
    text-decoration: none; }

/* redes sociales */
/* map-get */
.redes-sociales {
  grid-row: 9/10;
  grid-column: 10; }
  .redes-sociales .redes-iconos i {
    margin: 4% 0 4% 0;
    color: #4977bd;
    font-size: 2vw;
    text-align: right; }
    .redes-sociales .redes-iconos i:hover {
      color: #f1bb57; }

.info strong {
  color: black; }

.info a :hover {
  color: #f1bb57; }

.anuncio {
  width: 10vw;
  margin: 0; }

.quienesSomos {
  text-align: center; }

.quienesSomos__preguntas {
  display: block;
  width: 45%;
  margin: auto;
  flex-direction: column;
  font-size: 3.5rem; }

.copyright {
  width: 45vw;
  margin-top: 4%; }

p {
  margin: 1% 10%;
  text-align: center; }

.mediosDePago {
  text-align: center; }

.tarjeta {
  font-size: 5vw;
  text-decoration: none;
  cursor: auto;
  margin: 3vh -15vw 0vw; }

.formulario-registro {
  display: flex;
  justify-content: center;
  margin-left: 6%;
  flex-direction: column;
  font-size: 180%;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start; }

.formulario-registro p {
  display: inline;
  justify-content: left; }

.formulario-registro__mail input {
  width: 20vw; }

fieldset {
  width: 90%;
  text-align: start;
  padding: 2%;
  border: none; }

.formulario-registro__foto {
  display: flex;
  flex-direction: column; }

.formulario-registro__foto label {
  font-size: 3vw;
  margin-bottom: 0.8vw; }

label {
  font-size: 2.2vw; }

.formulario-registro__foto i {
  font-size: 2vw;
  padding-right: 0.3vw; }

.formulario-registro__foto i input {
  font-size: 1.5vw;
  margin-left: 0.8vw; }

.formulario-registro__nombreApellido {
  display: inline-block; }

.formulario-registro__cantidadLocales input {
  width: 4vw;
  text-align: center; }

.formulario-registro__nombreApellido input {
  width: 20vw; }

.formulario-registro__telefono select {
  width: 8vw;
  font-size: 1.5vw;
  text-align: center; }

.formulario-registro__sexo select {
  font-size: 1.5vw;
  text-align: center; }

.cantidadLocales {
  width: 8vw; }

.formulario-registro__edad {
  display: flex;
  flex-direction: column; }

.formulario-registro__botonMayor .formulario-registro__botonMenor {
  margin-top: 1%;
  display: flex;
  flex-direction: row; }

.formulario-registro__botonos .regresoHome, .formulario-registro__botonos input {
  display: inline;
  width: 1.5vw; }

/* uso extend */
.regresoHome, .formulario-registro__botonos input {
  margin-right: 3%;
  font-size: 1.5vw; }

/* GRID para HTML index */
.main {
  display: grid;
  height: 80vh;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr); }

.texto {
  font-size: 2.2vw;
  text-align: left; }

.mapa {
  grid-column: 3/9;
  grid-row: 5;
  display: flex;
  justify-content: center; }

.opciones {
  grid-column: 3/9;
  grid-row: 4; }

.chat {
  grid-column: 10;
  grid-row: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  z-index: 1000;
  margin: 1vw;
  height: -1vh; }

.chat .anuncio {
  display: flex;
  justify-content: flex-start; }

.chat i {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  background-color: #9fec2a;
  border-radius: 1.8vw;
  margin-top: 3vh; }

.chat strong {
  font-size: 1vw; }

.botonRegreso {
  grid-column: 4/8;
  grid-row: 8; }

/* GRID para HTML de preguntas */
.subtituloGrid {
  color: #f1bb57; }

.main h2 {
  font-size: 3.2vw;
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  text-align: center; }

.titulos {
  grid-column: 4/8;
  grid-row: 2;
  font-size: 10.5vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }

.quienesSomosGrid__queEs {
  grid-column: 3/9;
  grid-row: 3; }

.quienesSomosGrid__quien {
  grid-column: 3/9;
  grid-row: 4; }

.quienesSomosGrid__quePasa {
  grid-column: 3/9;
  grid-row: 5; }

.quienesSomosGrid__pedido {
  grid-column: 3/9;
  grid-row: 6; }

.botonRegreso {
  grid-column: 5/7;
  grid-row: 8; }

.placeholder {
  text-align: center;
  width: 20vw; }

.regresoHome, .formulario-registro__botonos input {
  display: flex;
  justify-content: center; }

.regresoHome input, .formulario-registro__botonos input input {
  width: 6vw;
  height: 3vh;
  font-size: 1.4vh; }

.footer {
  grid-column: 5/7;
  grid-row: 9;
  font-size: 1.2vw;
  margin-top: 2vw; }

/* GRID para HTML de registro */
.formRegistro {
  grid-column: 1/10;
  grid-row: 3;
  font-size: 1.2vw; }

/* GRID para HTML de nosotros */
.quienesSomos {
  grid-column: 3/9;
  grid-row: 3; }

/* GRID para HTML de medios de pago */
.mediosDePago {
  grid-column: 3/9;
  grid-row: 3; }

.tiendaDigital {
  grid-column: 3/9;
  grid-row: 5;
  font-size: 1.5vw; }

/* RESPONSIVE */
@media screen and (max-width: 890px) {
  .mapa {
    grid-column: 2/10; }
  #googleMap img {
    width: 75vw; }
  .chat {
    margin: -34vw 1vw; }
  .chat i {
    font-size: 5vw;
    margin-top: 50vh; }
  .main .anuncio {
    font-size: 1.5vw;
    height: 6vw;
    width: 14vw;
    overflow: scroll; }
  .diaHora input {
    width: 9vw; }
  .diaHora label input {
    margin-right: -3vw; } }

@media screen and (max-width: 531px) {
  .formulario-registro__telefono {
    display: flex;
    flex-direction: column; }
  .formulario-registro__mail {
    display: flex;
    flex-direction: column; }
  label {
    font-size: 3vw; }
  .subtitulo {
    width: 50vw; }
  #opciones input {
    width: 20vw;
    font-size: 2vw; }
  #opciones form select {
    display: flex;
    height: 3vh; } }
